/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
  &kp ESC    &kp N1     &kp N2     &kp N3   &kp N4  &kp N5    &kp N6    &kp N7         &kp N8     &kp N9    &kp N0  &kp EQUAL
  &kp TAB     &kp Q      &kp W      &kp E    &kp R   &kp T     &kp Y     &kp U          &kp I      &kp O     &kp P  &kp MINUS
&kp LSHFT     &kp A      &kp S      &kp D    &kp F   &kp G     &kp H     &kp J          &kp K      &kp L  &kp SEMI    &kp SQT
&kp GRAVE     &kp Z      &kp X      &kp C    &kp V   &kp B     &kp N     &kp M      &kp COMMA    &kp DOT  &kp FSLH   &kp BSLH
                     &kp LSHFT  &kp SPACE  &kp DEL                    &kp BSPC      &kp ENTER   &kp RGUI
                                 &kp LALT    &mo 1                       &mo 2  &kp RIGHT_ALT
           &kp LBKT  &kp LCTRL                                                                 &kp RCTRL  &kp RBKT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        Layer__1 {
            bindings = <
   &kp GRAVE           &kp F1           &kp F2           &kp F3           &kp F4           &kp F5              &kp F6  &kp F7  &kp F8      &kp F9     &kp F10  &kp F11
      &trans         &kp HOME           &kp UP          &kp END  &rgb_ug RGB_HUI  &rgb_ug RGB_BRI    &kp C_PLAY_PAUSE  &trans  &trans      &trans      &trans  &kp F12
      &trans         &kp LEFT         &kp DOWN        &kp RIGHT  &rgb_ug RGB_HUD  &rgb_ug RGB_BRD          &kp C_MUTE  &trans  &trans      &trans      &trans   &trans
&kp CAPSLOCK  &rgb_ug RGB_EFR  &rgb_ug RGB_EFF  &rgb_ug RGB_TOG  &rgb_ug RGB_SPD  &rgb_ug RGB_SPI              &trans  &trans  &trans      &trans      &trans   &trans
                                        &trans           &trans           &trans                                       &trans  &trans      &trans
                                                         &trans           &trans                                       &trans  &trans
                  &bootloader       &sys_reset                                                                                         &bt BT_CLR  &bt BT_NXT
            >;
        };
    };
};
