config SHIELD_6x5_MANUFORM
    bool

config SHIELD_6x5_MANUFORM_LEFT
    def_bool $(shields_list_contains,6x5_manuform_left)
    select SHIELD_6x5_MANUFORM

config SHIELD_6x5_MANUFORM_RIGHT
    def_bool $(shields_list_contains,6x5_manuform_right)
    select SHIELD_6x5_MANUFORM
